* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --grey: #868686;
    --darkgrey: #545454;
    --deepdarkgray: #282828;
}

/* 
xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px,
xxl: 1400px
*/

/* ---------- Version Mobile ---------- */

header {
    padding: 0.5rem;
    background-color: #545454;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo {
    height: 40px;
    width: 40px;
    background-color: #282828;
}

header nav {
    display: none;
}

.cover {
    height: 350px;
    background-color: #8e8e8e;
}

section {
    padding: 1rem;
}

section h2 {
    text-align: center;
}

.article-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.article-list .article {
    padding: 1rem;
    color: white;
    background-color: #545454;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    header {
        justify-content: space-between;
    }

    header nav {
        display: initial;
    }
    
    .cover {
        height: 500px;
    }

    .article-list {
        flex-direction: row;
    }

    .article-list .article {
        height: 200px;
        display: flex;
        align-items: center;
    }
}

